<!DOCTYPE html>

<html>

<head>
<title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
          {{>header }}
    <p>If you have any complaint just contact us. We will help you with everything.</p>

    </div>
  
    {{>footer}}
    </body>
</html>